/* Para comentar aqui */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=League+Spartan:wght@100..900&display=swap');

:root, :root[data-theme='dark'] {
    --primary-color: #F0F0F0; /*Cor do texto */
    --secundary-bg-color: #d82424; /*Segunda cor */
    --primary-bg-color:#111217; /*Cor do fundo bg: BACKGROUND= Plano de fundo*/
    --secundary-bg-color: #28292E; /*Segunda cor */
    --primary-border-color:#28292E; /* Cor para borda*/
    --secundary-border-color:#28292E;  /*Segunda cor */

    --title-color:#f0f0f0; /*Cor do titulo*/
    --text-color: #28292E; /*Cor do texto*/
    --link-color: #28292E; /*Cor do link */
    --inco-color: #fac000; /*Cor do icone*/    
}
:root [data-theme='light'] {
    --primary-color: #0B0B0F;
    --primary-bg-color:#E9E9E9;
    --secondary-bg-color: #C7c8c9;
    --prymary-border-color: #C7c8c9;
    --secundary-border-color: #9a9a9c;

    --title-color: #56575a;
    --text-color: #28292e;
    --link-color: #28292e;
    --icon-color:#56575a;
} /* Definindo variavel de cores para um tema claro e um tema escuro

Root refere-se ao elemento raiz do documento html
seletor :root define as variaveis globais
isso oferece uma maneira flexivel de definir valores que podem ser reutiilizadas em todo o seu CSS  e facilmente atualizados de um único lugar */

html [data-theme='light'] .brand-logo {
    filter:invert(1);
}
html [data-theme='light'] .tecnologias-logo {
    filter:invert(80%);
} /* para inversão das cores do logo quando ele estiver em modo dark tendo em vista que ele é preto */
* {
  margin: 0px; /*Margem */
  padding: 0px; /*Espaçamento/ Preenchimento */
  box-sizing: border-box; /* Box ou Caixa - A propriedade box-sizing em CSS é usada para alterar o modelo de caixa de um elemento.
  O valor border-box é usado para garantir que a largura e a altura de um elemento
  incluam as bordas e o preenchimento, em vez de apenas o conteúdo.
  Quando você define box-sizing: border-box;, está dizendo ao navegador
  para calcular a largura e a altura total de um elemento,
  incluindo a largura das bordas e o preenchimento, e não apenas o conteúdo.
  */
  vertical-align: baseline; /*Alinhamento vertical */
  list-style: none; /*Estilo de lista */
  scrollbar-width: thin; /*Comprimento da barra */
  scrollbar-color: var(--secundary-bg-color) transparent;
}
body {
    background-color: var(--primary-bg-color); /*Cor do fundo da pagina*/
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--text-color);
} /* */
#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* Os itens dentro do container flexível serão distribuídos de maneira uniforme ao longo do eixo principal, com espaços iguais entre eles.  */
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
}
.header-logo .logo{
    width: 3.25rem;
    height: 3.25rem;
}
.header-toggle {
    display: flex;
    justify-content: flex-end;
}
#toggletheme {
    font-size: 1.5rem;
    color: var(--inco-color);
    cursor: pointer;
    transition: ease-in-out .4s; 
}
.menu {
    display: flex;
    /*  Torna o elemento um flex container automaticamente
    transformando todos os seus filhos diretos em flex itens */
    align-items: center;
    align-items: center;
    background: var(--primary-bg-color);   
    gap: 1rem;
    /* usada para definir o espaço entre os elementos
    criar espaçamento uniforme entre os elementos
    */
}
.menu-item {
    width: 100%;
}
.menu-link {
    display: flex;
    align-items: center;
    gap: .5rem; /* */
}
.menu-mobile {
    width: 100vw; /*VW = viewport width Valor 100% da tela*/
    position: fixed; /*Posição */
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
}
.menu-mobile .menu-link {
    flex-direction: column;
    /* definir a direção principal dos itens em uma coluna vertical */
    justify-content: center;
    padding: 0.5rem 1rem;
}
.menu-link.active .menu-icon,
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text { color: var(--primary-color);}
.menu-icon, .menu-text { color: var(--text-color);} /* a:hover = pseudo-classe  */
.menu-icon {font-size: 1.5rem;}

